.header{
    width:100%;
    box-sizing: border-box;
    padding: 30px;
display: flex;
align-items: center;
justify-content: space-around;    
-webkit-box-shadow: 3px 6px 31px -8px rgba(28,28,28,1);
-moz-box-shadow: 3px 6px 31px -8px rgba(28,28,28,1);
box-shadow: 3px 6px 31px -8px rgba(28,28,28,1);
    margin-bottom: 30px;

}


.nav__link{
    color:#000000;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
    transition: 0.5s color linear;
}
.nav__link:hover{
    color: tomato;
}