.list-item{
max-width: 100%;
-webkit-box-shadow: 3px 6px 31px -8px rgba(28,28,28,1);
-moz-box-shadow: 3px 6px 31px -8px rgba(28,28,28,1);
box-shadow: 3px 6px 31px -8px rgba(28,28,28,1);
box-sizing: border-box;
padding: 20px;
cursor: pointer;
}




.list-item__img {

  
    
    width: 500px;
    }

.list-item__img img{

   width: 100%;  
    }