.header{
    width:100%;
    box-sizing: border-box;
    padding: 30px;
display: flex;
align-items: center;
justify-content: center;    
    -webkit-box-shadow: 17px -12px 11px -12px rgba(204,204,204,1);
    -moz-box-shadow: 17px -12px 11px -12px rgba(204,204,204,1);
    box-shadow: 17px -12px 11px -12px rgba(204,204,204,1);
    margin-bottom: 30px;

}

.nav{

}
.nav__link{
    color:#000000;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
    transition: 0.5s color linear;
}
.nav__link:hover{
    color: tomato;
}